@font-face {
    font-family: "Icomoon";
    src: url("../fonts/icomoon.ttf");
}

.icomoon {
    font-family: 'Icomoon';
}

.cart::before {
    content: "\e900";
}

.search::before {
    content: "\e901";
}

.burger::before {
    content: "\e9bd";
}