* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    outline: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

header {
    background: #fff;
    height: 80px;
    border-bottom: 1px solid #dedede;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
    height: 100%;
}

.actions,
.menu {
    display: flex;
    justify-content: space-between;
}

.btn-menu {
    text-decoration: none;
    display: none;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 24px;
    padding: 3px;
}

.btn-menu:hover {
    cursor: pointer;
    color: #17bf87;
    transition: 0.5s;
}

.menu {
   width: 60%;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 8px 10px;
}

.menu li {
    position: relative;
}

.menu .menu-item:hover .link {
    color: #17bf87;
    transition: 0.5s;
}

.menu .menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 3px;
    background: #17bf87;
}

.menu .menu-item:hover::after {
    content: "";
    right: 0;
    transition: all 0.5s;
}

.icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 18px;
    color: #000;
}

.icon:hover {
    color: #17bf87;
    transition: all 0.7s;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 33px;
    padding-top: 10px;
}

.sub-menu ul {
    width: 125px;
    background: #fff;
    border-top: 2px solid #17bf87;
    box-shadow: 0 0 13px 0 #00000036;
}

.sub-menu a:hover {
    text-decoration: none;
    color: #17bf87;
    transition: 0.5s;
}

.menu-item:hover .sub-menu {
    display: block;
}

.blog {
    background-image: url(../img/bg-blog.jpg);
    background-attachment: fixed;
    background-position: center;
    padding: 15px 0;
    margin-bottom: 100px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 { 
    color: #fff;
    font-size: 50px;
    padding: 20px 0;
}

.menu .search-wrap {
    display: none;
}

.menu-item .arrow {
    display: none;
}

.blog-wrap {
    display: flex;
}

article {
    width: 70%;
}

aside {
    width: 30%;
}

.image {
    margin-bottom: 22px;
}

.image img {
    width: 100%;
}

article h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.meta {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}

.meta span {
    color: #9f9f9f;
}

.meta li {
    padding: 3px 15px;
    border-right: 1px solid #dedede;
}

.meta li:first-child {
    padding-left: 0;
}

.meta li:last-child {
    border: none;
}

@media screen and (max-width: 1024px) {
    .btn-menu {
        display: inline-block;
    }

    .menu,
    .icon-search {
        display: none;
    }

    .input-btn:checked + .menu {
        display: block;
    }

    .menu {
        position: fixed;
        left: 0;
        top: 80px;
        bottom: 0;
        background: #fff;
        width: 250px;
        border-right: 1px solid #dedede;
        padding: 16px 0;
    }

    .menu .search-wrap {
        display: block;
    }

    .search-wrap {
        position: relative;
        padding: 0 10px;
        margin-bottom: 15px;
    }
    
    .search-wrap input {
        border: 1px solid #dedede;
        border-radius: 5px;
        width: 100%;
        padding: 9px 45px 9px 22px;
        font-size: 16px;
        color: #9b9b9b;
    }

    .search-wrap  .search {
        position: absolute;
        right: 25px;
        top: 9px;
        font-size: 20px;
    }

    .search-wrap  .search:hover {
        cursor: pointer;
        color: #17bf87;
        transition: 0.5s;
    }

    .sub-menu {
        /* display: none !important; */
        position: static;
        padding-top: 3px;
    }

    .sub-menu ul {
        width: auto;
        background: transparent;
        border-top: none;
        box-shadow: none;
    }

    .sub-menu a:hover {
        text-decoration: none;
        color: #fff;
        transition: 0.5s;
        background: #17bf87;
    }

    .menu .menu-item:hover .link {
        color: #fff;
        transition: 0.5s;
        background: #17bf87;
    }

    .menu .menu-item::after {
        display: none;
    }

    .menu-item {
        margin-bottom: 3px;
    }

    .menu-item .arrow {
        display: block;
    }

    .arrow::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        line-height: 32px;
        text-align: center;
    }

    .menu-item:hover .arrow::after {
        content: '\25B2';
        color: #fff;
        transition: 0.5s;
    }
}
